body{
    position: absolute;
    width: 1440px;
    height: 713px;
    left: 0px;
    top: 0px;  

    background: rgba(239, 183, 183, 0.71);
}
.cabecalho{
    position: absolute;
    width: 1440px;
    height: 168px;
    left: 0px;
    top: 0px;
    
    background: rgba(239, 183, 183, 0.24);
}
.cabecalho_imagem_logo{
    position: absolute;
    width: 260px;
    height: 254px;
    left: 25px;
    top: -43px;

    border-radius: 250px;
}
.cabecalho_baggio_doces{
    position: absolute;
    width: 372px;
    height: 120px;
    left: 534px;
    top: 24px;

    font-family: 'Licorice';
    font-style: normal;
    font-weight: 400;
    font-size: 96px;
    line-height: 120px;

    text-align: center;
    color: #000000;
}

.cabecalho_item_menuum{
    position: absolute;
    width: 113px;
    height: 56px;
    left: 1111px;
    top: 24px;

    font-family: 'Licorice';
    font-style: normal;
    font-weight: 400;
    font-size: 45px;
    line-height: 56px;
    text-align: center;

    color: #000000;
}

.cabecalho_item_menudois{
    position: absolute;
    width: 151px;
    height: 56px;
    left: 1017px;
    top: 96px;
    
    font-family: 'Licorice';
    font-style: normal;
    font-weight: 400;
    font-size: 45px;
    line-height: 56px;
    text-align: center;
    
    color: #000000;
}

.cabecalho_item_menutres{
    position: absolute;
    width: 151px;
    height: 56px;
    left: 1017px;
    top: 96px;
    
    font-family: 'Licorice';
    font-style: normal;
    font-weight: 400;
    font-size: 45px;
    line-height: 56px;
    text-align: center;
    
    color: #000000;
}