body{
    position: absolute;
    width: 1440px;
    height: 713px;
    left: 1px;
    top: 168px;  

    background: rgba(239, 183, 183, 0.71);
}
.cabecalho{
    position: absolute;
    width: 1440px;
    height: 168px;
    left: 0px;
    top: 0px;

    background: rgba(239, 183, 183, 0.24);
}
.cabecalho_imagem_logo{
    position: absolute;
    width: 260px;
    height: 254px;
    left: 22px;
    top: -43px;

    background: url(B (1).png);
    border-radius: 250px;
}
